{% extends "shop/base.html" %}
{% load static %}

{% block title %}
	Your shopping cart
{% endblock %}

{% block content %}
<div class="cart_area section_padding_100 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Remove</th>
                                        <th>Unit Price</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                            {% for item in cart %}
							{% with product=item.product %}
                                    <tr>
                                        <td class="cart_product_img d-flex align-items-center">
                                            <a href="#"><img src="{{ product.image.url }}" alt="Product"></a>
                                            <h6>{{ product.name }}</h6>
                                        </td>

                                       	<td>
											<form action="{% url 'cart:cart_add' product.id %}" method="post">
											{{ item.update_quantity_form.quantity }}
											{{ item.update_quantity_form.update }}
											<input type="submit" value="Update">
											{% csrf_token %}
											</form>
										</td>
                                        <td>
											<a href="{% url 'cart:cart_remove' product.id %}">Remove</a>
										</td>
										<td class="num">{{ item.price }} MMK</td>
										<td class="num">{{ item.total_price }} MMK</td>
                                    </tr>
                                {% endwith %}
                                {% endfor %}

                               	{% if cart.coupon %}
									<tr class="subtotal">
									    <td>Subtotal</td>
									    <td colspan="3"></td>
									    <td class="num">
									    	{{ cart.get_total_price|floatformat:"2" }} MMK
										</td>
									</tr>
									<tr>
									    <td>coupon ( {{ coupon.discount }} % off)</td>
									    <td colspan="3"></td>
									    <td class="num neg">
									    	- {{ cart.get_discount|floatformat:"2" }} MMK
									    </td>
									</tr>
                               	{% endif %}
								    <tr class="total">
								        <td>Total</td>
								        <td colspan="3"></td>
								        <td>
								{{ cart.get_total_price_after_discount|floatformat:"2" }} MMK
								        </td>
								    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="cart-footer d-flex mt-30">
                            <div class="back-to-shop w-50">
                                <a href="{% url 'shop:product_list' %}">Continue shooping</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row" style="margin-top: 100px;">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="coupon-code-area mt-70">
                            <div class="cart-page-heading">
                                <h5>Cupon code</h5>
                                <p>Enter your cupone code</p>
                            </div>
                            <form action="{% url 'coupons:apply' %}" method="post">
                            	    {{ coupon_apply_form }}
								    <button type="submit" style="margin-top:32px">Apply</button>
								    {% csrf_token %}
                            </form>

                        </div>
                    </div>
                    <!-- <div class="col-12 col-md-6 col-lg-4">
                        <div class="shipping-method-area mt-70">
                            <div class="cart-page-heading">
                                <h5>Payment</h5>
                                <p>Choose your payment</p>
                            </div>

                            <div class="custom-control custom-radio mb-30">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label d-flex align-items-center justify-content-between" for="customRadio1"><span>Cash On Delivery</span></label>
                            </div>

                            <div class="custom-control custom-radio mb-30">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label d-flex align-items-center justify-content-between" for="customRadio2"><span>Prepaid</span></label>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-12 col-lg-8">
                        <div class="cart-total-area mt-70">
                            <div class="cart-page-heading">
                                <h5>Cart total</h5>
                                <p>Invoice</p>
                            </div>

                            <ul class="cart-total-chart">
                                <li><span><strong>Total</strong></span> <span><strong>
                                {{ cart.get_total_price_after_discount|floatformat:"2" }} MMK
                                </strong></span></li>
                            </ul>
                            <a href="{% url 'orders:order_create' %}" class="btn karl-checkout-btn">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}