{% extends 'shop/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="order_history_area section_padding_100 clearfix" style="height:100vh;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 mx-auto">
                    <div class="account_details_area mt-50 clearfix">
                        <div class="account-details-page-heading">
                            <h5 align="centrer">Login</h5>
                        </div>
                        <form method="POST" id="account-login-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                        </form>
                        <div class="col-12 mb-3">
                            <button type="submit" class="btn account-update-btn" form="account-login-form">Login</button> or <a href="{% url 'register' %}" style="font-size:14px;text-decoration:underline">Register</a>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>

{% endblock %}

